.photo-grid{
   
    margin:92px auto 0;
    width:100%;

}
@media screen and (max-width:1279px)
{
    .photo-grid{
        width: calc(100% - 96px);

    }
}
@media screen and (max-width:1023px)
{
    .photo-grid{
        margin:88px auto 0;
        width: calc(100% - 48px);

    }
}
@media screen and (max-width:767px)
{
    .photo-grid{
        margin:52px auto 0 auto;
        width: calc(100% - 32px);

    }
}
