.places__url{
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 122%;
color: #FFFFFF;
text-decoration-line: underline;
margin: 0;
display: block;
}

.places__url:hover{

    opacity: 0.8;
}

