.places__title{
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 106%;
color: #FFFFFF;
margin: 0;
max-width: 460px;
}

@media screen and (max-width:1023px)
{
    .places__title{
        font-size: 42px;
        line-height: 1.1;   
     }
}

@media screen and (max-width:767px)
{
    .places__title{
        width: calc(100% - 16px * 2);
        margin: 0 auto 0 16px;
        font-size: 32px;
        line-height: 1.1; 
     }
    }