.lead{
    margin-top:56px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 148px * 2);
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width:1279px)
{
    .lead{
        margin:48px auto 0 auto ;
        width: calc(100% - 96px);
        margin-top:55px;
    }
    
}

@media screen and (max-width:1023px)
{
    .lead{
        margin:2px auto 0 auto ;
      width: 100%;
      



    }
}

@media screen and (max-width:767px)
{
    .lead{
        margin:47px auto 0 auto ;
        width: 100%;


    }
}