.cover__subtitle {
    max-width: 360px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    color: #ffffff;
    margin: 32px 0 0 0;
    z-index: 1;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-width: 280px;
        margin-top: 16px;
    }
}
