.lead__image{
    margin: 64px auto 0 auto;
    width: 100%;
    height: auto;
    object-fit: cover;
}


@media screen and (max-width:1279px)
{
    .lead__image{
        margin-top: 56px;

    }
    
}

@media screen and (max-width:1023px)
{
    .lead__image{
        width: 100%;
        margin-top: 56px;

    }
    
}

@media screen and (max-width:767px)
{
    .lead__image{
        max-width: 100%;
        margin-top: 40px;

    }
    
}


