.intro{
color: white;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin: 92px auto 0 148px ;
    width: 100% ;
    box-sizing: border-box;

}
@media screen and (max-width:1279px)
{
    .intro{
        margin:92px auto 0 auto ;
        width: calc(100% - 96px);


    }
}
@media screen and (max-width:1023px)
{
    .intro{
        margin:88px auto 0 auto ;
        width: calc(100% - 48px);


    }
}
@media screen and (max-width:767px)
{
    .intro{
        margin:65px auto 0 auto ;
        width: calc(100% - 32px);


    }
}
