.lead__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.2;
    color: white;
    text-align: center;
    max-width: 640px;
    margin: 32px 0 0 0;
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        max-width: 288px;
        font-size: 16px;
        line-height: 125%;
        margin: 16px auto 0;
    }
}
