.cover {
    margin: 92px auto 0;
    width: 100%;
}
@media screen and (max-width: 1279px) {
    .cover {
        margin-top: 92px;
    }
}

@media screen and (max-width: 1023px) {
    .cover {
        margin-top: 88px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        margin-top: 64px;
    }
}
