.places__place{
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 48px 40px;
}
.places__place:last-child{

    margin-bottom: 0;
}
@media screen and (max-width:1279px)
{
    .places__place{
        grid-template-columns: 440px 1fr;
        gap: 48px 32px;
    }
    
}

@media screen and (max-width:1023px)
{
    .places__place{
        grid-template-columns: 340px 1fr;
        gap: 48px 28px;
        margin-bottom: 72px;
    }
}

@media screen and (max-width:767px)
{
    .places__place{
        grid-template-columns:1fr;
        margin-bottom: 48px;
        gap: 32px;
    }
}