.lead__caption {
    margin: 8 auto 0 148px;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    width: clac(100% - 973px - 148px);
    align-self: start;
}
@media screen and (max-width: 1023px) {
    .lead__caption {
        margin: 8px auto 0 24px;
        max-width: 100%;
    }
}
@media screen and (max-width: 767px) {
    .lead__caption {
        margin: 8px auto 0 16px;
    }
}
