.footer{
    margin:92px auto 24px auto ;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}


@media screen and (max-width:1279px)
{
    .footer{
        width: calc(100% - 96px);
        margin:92px auto 24px;
    }
    
}

@media screen and (max-width:1023px)
{
    .footer{
        width: calc(100% - 48px);
        margin:88px auto 24px auto ;

    }
    
}
@media screen and (max-width:767px)
{
    .footer{
        width: calc(100% - 118px - 18px);

        flex-direction: column;
        align-items: flex-start;
        margin:64px auto 24px 16px ;
    }
    
}
