.cover__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../../sprint-3-images/cover-trains.jpg);
    background-size: cover;
    text-decoration: none;
    background-repeat: no-repeat;
    z-index: 0;
    position: relative;
    min-height: 740px;
    margin: 0 auto;
}
.cover__item:before {
    content: "";
    position: absolute;
    background: #2a2c2f;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.cover__item:hover:before {
    opacity: 0.8;
}
@media screen and (max-width: 1279px) {
    .cover__item {
        min-height: 640px;
    }
}
@media screen and (max-width: 1023px) {
    .cover__item {
        min-height: 480px;
    }
}
@media screen and (max-width: 767px) {
    .cover__item {
        width: 100%;
    }
}
@media screen and (max-width: 450px) {
    .cover__item {
        min-height: 200px;
    }
}
